@charset "UTF-8";
/* style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, .tweets_wrap #tweets li, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Returns a media context (media query / grid context) that can be stored in a variable and passed to `media()` as a single-keyword argument. Media contexts defined using `new-breakpoint` are used by the visual grid, as long as they are defined before importing Neat.
 *
 * @param {List} $query
 *   - A list of media query features and values. Each `$feature` should have a corresponding `$value`. If there is only a single `$value` in `$query`, `$default-feature` is going to be used. The number of total columns in the grid can be set by passing `$columns` at the end of the list (overrides `$total-columns`). For a list of valid values for `$feature`, click [here](http://www.w3.org/TR/css3-mediaqueries/#media1).
 *
 * @param {Number (unitless)} $total-columns ($grid-columns)
 *   - Number of columns to use in the new grid context. Can be set as a shorthand in the first parameter.
 *
 * @example scss - Usage
 *   $mobile: new-breakpoint(max-width 480px 4);
 *
 *   .element {
 *     @include media($mobile) {
 *       @include span-columns(4);
 *     }
 *   }
 *
 * @example css - CSS Output
 *   @media screen and (max-width: 480px) {
 *     .element {
 *       display: block;
 *       float: left;
 *       margin-right: 7.42297%;
 *       width: 100%;
 *     }
 *     .element:last-child {
 *       margin-right: 0;
 *     }
 *   }
 */
/**
 * Sets the relative width of a single grid column. The unit used should be the same one used to define `$gutter`. To learn more about golden-ratio() see [Bourbon docs](http://bourbon.io/docs/#golden-ratio). Set with a `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * Sets the relative width of a single grid gutter. The unit used should be the same one used to define `$column`. To learn more about golden-ratio() see [Bourbon docs](http://bourbon.io/docs/#golden-ratio). Set with the `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * Sets the total number of columns in the grid. Its value can be overridden inside a media query using the `media()` mixin. Set with the `!global` flag.
 *
 * @type Number (Unitless)
 */
/**
 * Sets the max-width property of the element that includes `outer-container()`. To learn more about `em()` see [Bourbon docs](http://bourbon.io/docs/#px-to-em). Set with the `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * When set to true, it sets the box-sizing property of all elements to `border-box`. Set with a `!global` flag.
 *
 * @type Bool
 *
 * @example css - CSS Output
 *   * {
 *     -webkit-box-sizing: border-box;
 *     -moz-box-sizing: border-box;
 *     box-sizing: border-box;
 *   }
 */
/**
 * Sets the default [media feature](http://www.w3.org/TR/css3-mediaqueries/#media) that `media()` and `new-breakpoint()` revert to when only a breakpoint value is passed. Set with a `!global` flag.
 *
 * @type String
 */
/**
 * Sets the default layout direction of the grid. Can be `LTR` or `RTL`. Set with a `!global` flag.
 *
 * @type String
 */
/**
 * Displays the visual grid when set to true. The overlaid grid may be few pixels off depending on the browser's rendering engine and pixel rounding algorithm. Set with the `!global` flag.
 *
 * @type Bool
 */
/**
 * Sets the visual grid color. Set with `!global` flag.
 *
 * @type Color
 */
/**
 * Sets the `z-index` property of the visual grid. Can be `back` (behind content) or `front` (in front of content). Set with `!global` flag.
 *
 * @type String
 */
/**
 * Sets the opacity property of the visual grid. Set with `!global` flag.
 *
 * @type Number (unitless)
 */
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
/* Neat 1.7.0.pre
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/**
 * Returns a media context (media query / grid context) that can be stored in a variable and passed to `media()` as a single-keyword argument. Media contexts defined using `new-breakpoint` are used by the visual grid, as long as they are defined before importing Neat.
 *
 * @param {List} $query
 *   - A list of media query features and values. Each `$feature` should have a corresponding `$value`. If there is only a single `$value` in `$query`, `$default-feature` is going to be used. The number of total columns in the grid can be set by passing `$columns` at the end of the list (overrides `$total-columns`). For a list of valid values for `$feature`, click [here](http://www.w3.org/TR/css3-mediaqueries/#media1).
 *
 * @param {Number (unitless)} $total-columns ($grid-columns)
 *   - Number of columns to use in the new grid context. Can be set as a shorthand in the first parameter.
 *
 * @example scss - Usage
 *   $mobile: new-breakpoint(max-width 480px 4);
 *
 *   .element {
 *     @include media($mobile) {
 *       @include span-columns(4);
 *     }
 *   }
 *
 * @example css - CSS Output
 *   @media screen and (max-width: 480px) {
 *     .element {
 *       display: block;
 *       float: left;
 *       margin-right: 7.42297%;
 *       width: 100%;
 *     }
 *     .element:last-child {
 *       margin-right: 0;
 *     }
 *   }
 */
/**
 * Sets the relative width of a single grid column. The unit used should be the same one used to define `$gutter`. To learn more about golden-ratio() see [Bourbon docs](http://bourbon.io/docs/#golden-ratio). Set with a `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * Sets the relative width of a single grid gutter. The unit used should be the same one used to define `$column`. To learn more about golden-ratio() see [Bourbon docs](http://bourbon.io/docs/#golden-ratio). Set with the `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * Sets the total number of columns in the grid. Its value can be overridden inside a media query using the `media()` mixin. Set with the `!global` flag.
 *
 * @type Number (Unitless)
 */
/**
 * Sets the max-width property of the element that includes `outer-container()`. To learn more about `em()` see [Bourbon docs](http://bourbon.io/docs/#px-to-em). Set with the `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * When set to true, it sets the box-sizing property of all elements to `border-box`. Set with a `!global` flag.
 *
 * @type Bool
 *
 * @example css - CSS Output
 *   * {
 *     -webkit-box-sizing: border-box;
 *     -moz-box-sizing: border-box;
 *     box-sizing: border-box;
 *   }
 */
/**
 * Sets the default [media feature](http://www.w3.org/TR/css3-mediaqueries/#media) that `media()` and `new-breakpoint()` revert to when only a breakpoint value is passed. Set with a `!global` flag.
 *
 * @type String
 */
/**
 * Sets the default layout direction of the grid. Can be `LTR` or `RTL`. Set with a `!global` flag.
 *
 * @type String
 */
/**
 * Displays the visual grid when set to true. The overlaid grid may be few pixels off depending on the browser's rendering engine and pixel rounding algorithm. Set with the `!global` flag.
 *
 * @type Bool
 */
/**
 * Sets the visual grid color. Set with `!global` flag.
 *
 * @type Color
 */
/**
 * Sets the `z-index` property of the visual grid. Can be `back` (behind content) or `front` (in front of content). Set with `!global` flag.
 *
 * @type String
 */
/**
 * Sets the opacity property of the visual grid. Set with `!global` flag.
 *
 * @type Number (unitless)
 */
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * Removes the element's gutter margin, regardless of its position in the grid hierarchy or display property. It can target a specific element, or every `nth-child` occurrence. Works only with `block` layouts.
 *
 * @param {List} $query (block)
 *   List of arguments. Supported arguments are `nth-child` selectors (targets a specific pseudo element) and `auto` (targets `last-child`).
 *
 *   When passed an `nth-child` argument of type `*n` with `block` display, the omega mixin automatically adds a clear to the `*n+1` th element. Note that composite arguments such as `2n+1` do not support this feature.
 *
 *   **Deprecation warning**: The omega mixin will no longer take a `$direction` argument. To change the layout direction, use `row($direction)` or set `$default-layout-direction` instead.
 *
 * @example scss - Usage
 *   .element {
 *     @include omega;
 *   }
 *
 *   .nth-element {
 *     @include omega(4n);
 *   }
 *
 * @example css - CSS Output
 *   .element {
 *     margin-right: 0;
 *   }
 *
 *   .nth-element:nth-child(4n) {
 *     margin-right: 0;
 *   }
 *
 *   .nth-element:nth-child(4n+1) {
 *     clear: left;
 *   }
 */
/**
 * Makes an element a outer container by centring it in the viewport, clearing its floats, and setting its `max-width`.
 * Although optional, using `outer-container` is recommended. The mixin can be called on more than one element per page, as long as they are not nested.
 *
 * @param {Number (unit)} $local-max-width ($max-width)
 *   Max width to be applied to the element. Can be a percentage or a measure.
 *
 * @example scss - Usage
 *   .element {
 *     @include outer-container(100%);
 *   }
 *
 * @example css - CSS Output
 *   .element {
 *     *zoom: 1;
 *     max-width: 100%;
 *     margin-left: auto;
 *     margin-right: auto;
 *   }
 *
 *   .element:before, .element:after {
 *     content: " ";
 *     display: table;
 *   }
 *
 *   .element:after {
 *     clear: both;
 *   }
 */
/**
 * Specifies the number of columns an element should span. If the selector is nested the number of columns of its parent element should be passed as an argument as well.
 *
 * @param {List} $span
 *   A list containing `$columns`, the unitless number of columns the element spans (required), and `$container-columns`, the number of columns the parent element spans (optional).
 *
 *   If only one value is passed, it is assumed that it's `$columns` and that that `$container-columns` is equal to `$grid-columns`, the total number of columns in the grid.
 *
 *   The values can be separated with any string such as `of`, `/`, etc.
 *
 * @param {String} $display (block)
 *   Sets the display property of the element. By default it sets the display propert of the element to `block`.
 *
 *   If passed `block-collapse`, it also removes the margin gutter by adding it to the element width.
 *
 *   If passed `table`, it sets the display property to `table-cell` and calculates the width of the element without taking gutters into consideration. The result does not align with the block-based grid.
 *
 * @example scss - Usage
 *   .element {
 *     @include span-columns(6);

 *    .nested-element {
 *      @include span-columns(2 of 6);
 *    }
 *  }
 *
 * @example css - CSS Output
 *   .element {
 *     display: block;
 *     float: left;
 *     margin-right: 2.35765%;
 *     width: 48.82117%;
 *   }
 *
 *   .element:last-child {
 *     margin-right: 0;
 *   }
 *
 *   .element .nested-element {
 *     display: block;
 *     float: left;
 *     margin-right: 4.82916%;
 *     width: 30.11389%;
 *   }
 *
 *   .element .nested-element:last-child {
 *     margin-right: 0;
 *   }
 */
/**
 * Designates the element as a row of columns in the grid layout. It clears the floats on the element and sets its display property. Rows can't be nested, but there can be more than one row element—with different display properties—per layout.
 *
 * @param {String} $display (default)
 *   Sets the display property of the element and the display context that will be used by its children. Can be `block` or `table`.
 *
 * @param {String} $direction ($default-layout-direction)
 *   Sets the layout direction. Can be `LTR` (left-to-right) or `RTL` (right-to-left).
 *
 * @example scss - Usage
 *   .element {
 *     @include row();
 *   }
 *
 * @example css - CSS Output
 *   .element {
 *     *zoom: 1;
 *     display: block;
 *   }
 *
 *  .element:before, .element:after {
 *    content: " ";
 *    display: table;
 *  }
 *
 *  .element:after {
 *    clear: both;
 *  }
 */
/**
 * Translates an element horizontally by a number of columns. Positive arguments shift the element to the active layout direction, while negative ones shift it to the opposite direction.
 *
 * @param {Number (unitless)} $n-columns (1)
 *   Number of columns by which the element shifts.
 *
 * @example scss - Usage
 *   .element {
 *     @include shift(-3);
 *   }
 *
 * @example css - CSS output
 *   .element {
 *     margin-left: -25.58941%;
 *   }
 */
/**
 * Translates an element horizontally by a number of columns, in a specific nesting context.
 *
 * @param {List} $shift
 *   A list containing the number of columns to shift (`$columns`) and the number of columns of the parent element (`$container-columns`).
 *
 *   The two values can be separated with any string such as `of`, `/`, etc.
 *
 * @example scss - Usage
 *   .element {
 *     @include shift(-3 of 6);
 *   }
 *
 * @example css - CSS output
 *   .element {
 *     margin-left: -52.41458%;
 *   }
 */
/**
 * Adds padding to the element.
 *
 * @param {List} $padding (flex-gutter())
 *   A list of padding value(s) to use. Passing `default` in the list will result in using the gutter width as a padding value.
 *
 * @example scss - Usage
 *   .element {
 *     @include pad(30px -20px 10px default);
 *   }
 *
 * @example css - CSS Output
 *   .element {
 *     padding: 30px -20px 10px 2.35765%;
 *   }
 */
/**
 * Forces the element to fill its parent container.
 *
 * @example scss - Usage
 *   .element {
 *     @include fill-parent;
 *   }
 *
 * @example css - CSS Output
 *   .element {
 *     width: 100%;
 *     -webkit-box-sizing: border-box;
 *     -moz-box-sizing: border-box;
 *     box-sizing: border-box;
 *   }
 */
/**
 * Outputs a media-query block with an optional grid context (the total number of columns used in the grid).
 *
 * @param {List} $query
 *   A list of media query features and values, where each `$feature` should have a corresponding `$value`.
 *   For a list of valid values for `$feature`, click [here](http://www.w3.org/TR/css3-mediaqueries/#media1).
 *
 *   If there is only a single `$value` in `$query`, `$default-feature` is going to be used.
 *
 *   The number of total columns in the grid can be set by passing `$columns` at the end of the list (overrides `$total-columns`).
 *
 *
 * @param {Number (unitless)} $total-columns ($grid-columns)
 *   - Number of columns to use in the new grid context. Can be set as a shorthand in the first parameter.
 *
 * @example scss - Usage
 *   .responsive-element {
 *      @include media(769px) {
 *        @include span-columns(6);
 *      }
 *   }
 *
 *  .new-context-element {
 *    @include media(min-width 320px max-width 480px, 6) {
 *      @include span-columns(6);
 *    }
 *  }
 *
 * @example css - CSS Output
 *  @media screen and (min-width: 769px) {
 *    .responsive-element {
 *      display: block;
 *      float: left;
 *      margin-right: 2.35765%;
 *      width: 48.82117%;
 *    }
 *
 *    .responsive-element:last-child {
 *      margin-right: 0;
 *    }
 *  }
 *
 *  @media screen and (min-width: 320px) and (max-width: 480px) {
 *    .new-context-element {
 *      display: block;
 *      float: left;
 *      margin-right: 4.82916%;
 *      width: 100%;
 *    }
 *
 *    .new-context-element:last-child {
 *      margin-right: 0;
 *    }
 *  }
 */
/**
 * Resets the active display property to `block`. Particularly useful when changing the display property in a single row.
 *
 * @example scss - Usage
 *   .element {
 *     @include row(table);
 *     // Context changed to table display
 *   }
 *
 *   @include reset-display;
 *   // Context is reset to block display
 */
/**
 * Resets the active layout direction to the default value set in `$default-layout-direction`. Particularly useful when changing the layout direction in a single row.
 *
 * @example scss - Usage
 *   .element {
 *     @include row($direction: RTL);
 *     // Context changed to right-to-left
 *   }
 *
 *   @include reset-layout-direction;
 *   // Context is reset to left-to-right
 */
/**
 * Resets both the active layout direction and the active display property.
 *
 * @example scss - Usage
 *   .element {
 *     @include row(table, RTL);
 *     // Context changed to table table and right-to-left
 *   }
 *
 *   @include reset-all;
 *   // Context is reset to block display and left-to-right
 */
/**
 * Changes the display property used by other mixins called in the code block argument.
 *
 * @param {String} $display (block)
 *   Display value to be used within the block. Can be `table` or `block`.
 *
 * @example scss
 *   @include display(table) {
 *    .display-table {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   .display-table {
 *      display: table-cell;
 *      ...
 *   }
 */
/**
 * Changes the direction property used by other mixins called in the code block argument.
 *
 * @param {String} $direction (left-to-right)
 *   Layout direction to be used within the block. Can be `left-to-right` or `right-to-left`.
 *
 * @example scss - Usage
 *   @include direction(right-to-left) {
 *    .right-to-left-block {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css - CSS Output
 *   .right-to-left-block {
 *     float: right;
 *      ...
 *   }
 */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

p.button {
  line-height: 40px; }

.button-red-solid {
  padding: 10px 35px;
  color: inherit;
  color: #fff;
  background: #e32526;
  transition: all 300ms ease;
  border: 1px solid #e32526; }
  .button-red-solid:hover {
    background: #d61f15;
    border: 1px solid #d61f15; }

.button-red-stroked {
  padding: 10px 35px;
  color: inherit;
  border: 1px solid #e32526;
  background: none;
  transition: all 300ms ease; }
  .button-red-stroked:hover {
    background: #d61f15;
    border: 1px solid #d61f15;
    color: #fff; }

.button-gold-stroked {
  padding: 10px 35px;
  color: inherit;
  border: 1px solid #ffb81d;
  background: none;
  transition: all 300ms ease; }
  .button-gold-stroked:hover {
    background: #ffb81d;
    border: 1px solid #ffb81d;
    color: #68501b; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.large-4, .large-4-wrap {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 31.57895%; }
  .large-4:last-child, .large-4-wrap:last-child {
    margin-right: 0; }

.large-5, .large-5-wrap {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 44.40789%; }
  .large-5:last-child, .large-5-wrap:last-child {
    margin-right: 0; }

.large-6, .large-6-wrap {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 48.68421%; }
  .large-6:last-child, .large-6-wrap:last-child {
    margin-right: 0; }

.large-8, .large-8-wrap {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 65.78947%; }
  .large-8:last-child, .large-8-wrap:last-child {
    margin-right: 0; }

.large-12, .large-12-wrap {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 100%; }
  .large-12:last-child, .large-12-wrap:last-child {
    margin-right: 0; }

.omega-wrap {
  margin-right: 0; }

.offset-1 {
  margin-left: 8.55263%; }

h1, h2, h3, h4, .tweets_wrap #tweets li, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "museo-slab", serif;
  font-weight: 100; }

h1, .h1 {
  font-size: 48px;
  line-height: 58px; }

h2, .h2 {
  font-size: 35px;
  line-height: 45px; }

h3, .h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 40px; }

h4, .tweets_wrap #tweets li, .h4 {
  font-size: 20px;
  line-height: 30px; }

hr {
  border: 0;
  height: 1px;
  max-width: 100px;
  margin: 20px auto 25px auto;
  background: #e32526; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a {
  text-decoration: none; }

p {
  margin-bottom: 15px; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font: 14px "proxima-nova", sans-serif;
  color: #3d4543;
  background-color: #fff;
  font-weight: 300;
  line-height: 26px;
  height: 101%; }

#page_container {
  position: relative;
  right: 0;
  top: 0;
  transition: all 300ms; }

#main_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 18%;
  float: left;
  height: 100%;
  background-color: #3d4543;
  padding: 10% 4% 0;
  color: #d0d3d4; }
  #main_nav .logo {
    background: url(../images/logo_square.svg) no-repeat center center;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    margin-bottom: 15px;
    backface-visibility: hidden; }
    #main_nav .logo a {
      display: block;
      height: 100%;
      width: 100%; }
  #main_nav .header_toggle {
    display: none; }
  #main_nav a {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.75;
    transition: all 200ms ease;
    font-weight: 500; }
    #main_nav a:hover {
      opacity: 1; }
  #main_nav .children {
    display: none;
    background-color: transparent;
    position: relative;
    height: auto;
    text-align: left;
    margin-left: 1.5em;
    margin-bottom: 1em;
    top: 0;
    padding: 0; }
    #main_nav .children a {
      font-weight: 100;
      font-style: italic; }
  #main_nav .current_page_item, #main_nav .current_page_parent {
    position: relative; }
    #main_nav .current_page_item:before, #main_nav .current_page_parent:before {
      content: '\2022';
      position: absolute;
      left: -10px;
      top: -1px; }
  #main_nav .current_page_item .children, #main_nav .current_page_ancestor .children {
    display: block; }

.main_nav_social {
  margin-bottom: 10px; }
  .main_nav_social:after {
    content: "";
    display: table;
    clear: both; }
  .main_nav_social li {
    float: left;
    margin-right: 5px;
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    text-indent: -9999px;
    background-size: 80%;
    opacity: 0.75;
    transition: all 200ms ease;
    backface-visibility: hidden; }
    .main_nav_social li.twitter {
      background: url(../images/twitter.svg) no-repeat center center;
      background-size: 60%; }
    .main_nav_social li.facebook {
      background: url(../images/facebook.svg) no-repeat center center;
      background-size: 60%; }
    .main_nav_social li.instagram {
      background: url(../images/instagram.svg) no-repeat center center;
      background-size: 60%; }
    .main_nav_social li.dribbble {
      background: url(../images/dribbble.svg) no-repeat center center;
      background-size: 60%; }
    .main_nav_social li:last-child {
      margin-right: 0; }
    .main_nav_social li:hover {
      opacity: 1; }
    .main_nav_social li a {
      display: block;
      height: 100%;
      width: 100%; }

#main {
  position: relative;
  width: 82%;
  float: right;
  min-height: 100%; }

.container {
  max-width: em(1200);
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

header {
  width: 100%;
  height: 100vh;
  background-size: cover; }
  header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    z-index: 25; }
    header .container h1 {
      color: #fff;
      margin-bottom: 60px; }
      header .container h1 span {
        color: #ffb81d;
        font-style: italic; }
  header.twi_header img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
    max-height: 75%;
    max-width: 75%;
    width: auto;
    height: auto; }

.section {
  padding: 100px 0; }

.small_section {
  padding: 40px 0; }

.intro {
  padding-bottom: 70px;
  margin: auto;
  max-width: 830px;
  text-align: center; }
  .intro h2 {
    margin-bottom: 10px; }
  .intro p {
    margin: auto;
    max-width: 450px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #3d4543;
  opacity: 0.70; }

footer {
  margin-bottom: -1px;
  background: #3d4543;
  padding: 30px 0;
  color: #d0d3d4; }
  footer .footer_contact {
    float: left; }
    footer .footer_contact span {
      color: #ffb81d;
      margin: 0 10px; }
    footer .footer_contact a {
      color: inherit; }
  footer .button {
    float: right; }
  footer p {
    margin-bottom: 0;
    line-height: 40px; }

.main_nav_footer {
  width: 18%;
  position: fixed;
  bottom: 20px;
  left: 0;
  padding-bottom: 0.5em;
  padding: 0 4% 0;
  z-index: 9999; }
  .main_nav_footer p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0; }

input, textarea {
  padding: 10px 15px;
  border: 1px solid #d0d3d4;
  background: none;
  transition: all 300ms ease;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0; }

textarea {
  resize: vertical; }

.home header {
  background: url(../images/home_header.jpg) no-repeat center center; }
  .home header .logo {
    background: url(../images/logo.svg) no-repeat center center;
    display: block;
    margin: 0 auto 60px auto;
    width: 280px;
    height: 45px;
    text-indent: -9999px; }
  .home header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    z-index: 25; }
    .home header .container h1 {
      color: #fff;
      margin-bottom: 60px; }
      .home header .container h1 span {
        color: #fff;
        font-style: normal;
        font-weight: 300; }
    .home header .container h2 {
      color: #ffb81d;
      font-style: italic; }

.buckets_wrap {
  padding-top: 0; }
  .buckets_wrap h3 {
    font-weight: 300;
    position: relative;
    padding-left: 60px;
    margin-bottom: 15px; }
    .buckets_wrap h3:before {
      width: 48px;
      height: 35px;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -17px;
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid #e32526;
      padding-top: 2px; }
    .buckets_wrap h3.branding:before {
      content: url(../images/branding.svg); }
    .buckets_wrap h3.ui:before {
      content: url(../images/ui.svg); }
    .buckets_wrap h3.dev:before {
      content: url(../images/dev.svg); }
  .buckets_wrap .button {
    margin-top: 30px;
    text-align: center; }

.eden_fellas {
  background: #fbfbfb url(../images/eden_fellas_bg.jpg) no-repeat right top; }
  .eden_fellas h3 {
    color: #3d4543;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #e32526;
    margin-bottom: 20px; }

.cs_bucket {
  padding: 120px 0;
  position: relative;
  color: #fff;
  background-size: cover;
  background-position: center top; }
  .cs_bucket a {
    color: inherit; }
    .cs_bucket a .overlay {
      transition: all 200ms ease; }
  .cs_bucket .large-6 {
    width: 50%;
    position: relative;
    z-index: 30; }
  .cs_bucket hr {
    margin-left: 0;
    background: #ffb81d; }
  .cs_bucket h3 {
    color: #fff; }
  .cs_bucket h4, .cs_bucket .tweets_wrap #tweets li, .tweets_wrap #tweets .cs_bucket li {
    font-style: italic;
    font-weight: 600;
    margin-bottom: 20px; }
  .cs_bucket:hover .overlay {
    opacity: 0.85; }

.dribbble .intro img {
  display: block;
  width: 35px;
  height: 35px;
  margin: 0 auto 15px auto; }

.dribbble_wrap li {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 31.57895%;
  margin-bottom: 2.63158%; }
  .dribbble_wrap li:last-child {
    margin-right: 0; }
  .dribbble_wrap li img {
    border: 1px solid #ebebeb;
    max-width: 100%;
    height: auto;
    display: block; }
  .dribbble_wrap li:nth-child(3n) {
    margin-right: 0; }

.tweets_wrap {
  text-align: center;
  margin-top: 100px;
  padding: 40px 0;
  background: #f5f5f5; }
  .tweets_wrap .container {
    max-width: 850px;
    margin: 0 auto; }
  .tweets_wrap img {
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 auto 15px auto; }
  .tweets_wrap #tweets a {
    color: #e32526; }
  .tweets_wrap #tweets .date {
    font-size: 80%;
    font-style: italic; }

.page-id-5 header, .blog header {
  background: url(../images/about_header.jpg) no-repeat center center;
  background-size: cover; }

.about_intro {
  margin: 0 auto;
  padding-bottom: 0; }
  .about_intro p {
    max-width: 650px; }
  .about_intro .quote {
    margin: 100px auto 0 auto; }
    .about_intro .quote h3 {
      color: #3d4543; }
    .about_intro .quote hr {
      margin-top: 20px;
      background: #e32526; }

.standards {
  background: url(../images/standards_bg.jpg) no-repeat center top;
  background-size: cover;
  color: #fff; }
  .standards ol:after {
    content: "";
    display: table;
    clear: both; }
  .standards ol li {
    counter-increment: step;
    float: left;
    width: 50%;
    padding-right: 5%;
    padding-left: 50px;
    position: relative;
    margin-bottom: 3%; }
    .standards ol li:before {
      content: counter(step,decimal) ".";
      border: 1px solid #ffb81d;
      border-radius: 100%;
      display: block;
      width: 35px;
      height: 35px;
      line-height: 35px;
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      text-align: center; }
    .standards ol li:nth-child(even) {
      padding-right: 0; }
    .standards ol li:nth-child(odd) {
      clear: both; }
    .standards ol li h3 {
      font-size: 26px;
      line-height: 36px;
      color: #fff; }

.bios_wrap {
  text-align: center; }
  .bios_wrap .bio_buckets {
    margin-top: 50px; }
    .bios_wrap .bio_buckets:after {
      content: "";
      display: table;
      clear: both; }
  .bios_wrap .bio_bucket {
    width: 40%;
    padding: 0 2.5%;
    display: inline-block;
    *display: inline;
    /*IE7*/
    *zoom: 1;
    /*IE7*/ }
    .bios_wrap .bio_bucket .bio_bucket_image {
      margin: 0 auto;
      width: 90%;
      height: 0;
      padding-bottom: 90%;
      -moz-border-radius: 90%;
      -webkit-border-radius: 90%;
      border-radius: 90%;
      margin-bottom: 30px; }
    .bios_wrap .bio_bucket h3 {
      color: #3d4543; }
    .bios_wrap .bio_bucket h5 {
      font-style: italic;
      color: #e32526;
      margin-bottom: 10px; }
  .bios_wrap .seth .bio_bucket_image {
    background: url(../images/seth_headshot.jpg) center center;
    background-size: contain; }
  .bios_wrap .zach .bio_bucket_image {
    background: url(../images/zach_headshot.jpg) center center;
    background-size: contain; }

.about_footer {
  background: url(../images/about_footer_bg.jpg) no-repeat center center;
  height: 80vh; }
  .about_footer .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    z-index: 25; }
    .about_footer .container h1 {
      color: #fff;
      margin-bottom: 0; }
      .about_footer .container h1 span {
        color: #ffb81d;
        font-style: italic; }

.page-template-page-bio-php header {
  background-position: right center; }
  .page-template-page-bio-php header h1 {
    margin-bottom: 0; }
  .page-template-page-bio-php header h4, .page-template-page-bio-php header .tweets_wrap #tweets li, .tweets_wrap #tweets .page-template-page-bio-php header li {
    color: #ffb81d;
    margin-bottom: 0; }
.page-template-page-bio-php .intro {
  max-width: 800px;
  width: 80%; }
.page-template-page-bio-php .quote hr {
  background: #e32526; }
.page-template-page-bio-php .journal_wrap h3 {
  margin-bottom: 30px; }
.page-template-page-bio-php .journal_wrap li h3 {
  margin-bottom: 0; }

.bio_content {
  padding-bottom: 80px;
  border-bottom: 1px solid #d0d3d4; }

.page-id-7 header {
  background: url(../images/cs_bg.jpg) no-repeat center center; }

.single-case_study header {
  position: relative;
  height: 100vh; }
  .single-case_study header h1 {
    margin-bottom: 0; }
  .single-case_study header h4, .single-case_study header .tweets_wrap #tweets li, .tweets_wrap #tweets .single-case_study header li {
    color: #ffb81d;
    margin-bottom: 0; }
.single-case_study hr {
  margin-left: 0; }
.single-case_study .row {
  padding-top: 100px; }
  .single-case_study .row div {
    display: inline-block !important;
    vertical-align: middle;
    float: none; }
.single-case_study .row.padding {
  padding: 100px 5% 0 5%; }
.single-case_study .cs_logo img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  text-align: center; }
.single-case_study .project {
  padding-right: 5%; }
.single-case_study .desktop_image, .single-case_study .responsive_image {
  text-align: center; }
  .single-case_study .desktop_image img, .single-case_study .responsive_image img {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block; }
.single-case_study .cs_link {
  padding-top: 0;
  text-align: center; }
  .single-case_study .cs_link a {
    font-size: 20px;
    line-height: 30px; }
.single-case_study .sec_image {
  height: 350px;
  background-size: cover; }
  .single-case_study .sec_image.large-6 {
    margin-right: 0;
    width: 50%; }
  .single-case_study .sec_image:first-child {
    margin-right: 0; }
.single-case_study .sec_image_1 {
  margin-right: 0; }
.single-case_study .goal {
  padding: 5%; }
.single-case_study .testimonial, .single-case_study .outcome {
  vertical-align: top !important; }
.single-case_study .testimonial {
  padding-top: 85px; }
  .single-case_study .testimonial .h4 {
    color: #e32526; }
  .single-case_study .testimonial .h5 {
    font-style: italic; }

.cta_cs {
  margin-top: 150px; }
  .cta_cs p {
    margin-bottom: 0; }
  .cta_cs a {
    text-align: center;
    font-weight: bolder;
    display: block;
    padding: 35px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    background: #e32526;
    transition: all 300ms ease;
    border: 1px solid #e32526; }
    .cta_cs a:hover {
      background: #d61f15;
      border: 1px solid #d61f15; }

.blog header, .archive header, .category header {
  background: url(../images/journal_bg.jpg) no-repeat center center; }

.archive header h1, .category header h1 {
  margin-bottom: 0; }
.archive header h3, .category header h3 {
  color: #ffb81d;
  margin-bottom: 0; }

.journal_wrap.stacked {
  max-width: 800px;
  width: 80%;
  margin: 0 auto; }
  .journal_wrap.stacked .journal_bucket {
    width: 100%;
    margin-bottom: 8%;
    padding-bottom: 5%;
    border-bottom: 1px solid #ededed; }
    .journal_wrap.stacked .journal_bucket .left_bucket {
      width: 18%;
      float: left;
      margin-right: 2%; }
    .journal_wrap.stacked .journal_bucket:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0; }
    .journal_wrap.stacked .journal_bucket .right_bucket {
      width: 80%;
      float: left; }

.journal_bucket .button {
  margin-top: 20px; }

.entry_title {
  font-size: 25px;
  line-height: 35px;
  color: #3d4543; }
  .entry_title a {
    color: inherit; }

.entry_meta {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px;
  color: #a3a3a3;
  font-style: italic; }
  .entry_meta a {
    color: inherit; }

.author_image img {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%; }

.single-post header {
  position: relative;
  height: 55vh;
  background-size: cover; }
  .single-post header.twi_header img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
    max-height: 75%;
    max-width: 75%;
    width: auto;
    height: auto; }
.single-post .intro {
  max-width: 800px;
  width: 80%; }
.single-post .entry_title {
  color: #3d4543;
  font-size: 30px;
  line-height: 40px; }
.single-post .journal_wrap {
  margin-top: 80px; }
  .single-post .journal_wrap h3 {
    margin-bottom: 30px; }
  .single-post .journal_wrap .entry_title {
    margin-bottom: 0; }

.entry_header {
  text-align: center; }
  .entry_header .author_image {
    margin-bottom: 10px; }
  .entry_header .entry_title {
    margin-bottom: 10px; }
  .entry_header hr {
    background-color: #e32526;
    margin: 20px auto 30px auto; }

article.post, .bio_content {
  max-width: 800px;
  width: 80%;
  margin: 0 auto; }
  article.post .entry_content, .bio_content .entry_content {
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #d0d3d4; }
    article.post .entry_content img, .bio_content .entry_content img {
      display: block;
      margin: 35px auto;
      max-width: 100%;
      height: auto; }
    article.post .entry_content a, .bio_content .entry_content a {
      color: #e32526;
      font-weight: bolder;
      font-style: italic; }
    article.post .entry_content .addthis_toolbox, .bio_content .entry_content .addthis_toolbox {
      margin-top: 30px; }

.post_navigation {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 50; }
  .post_navigation .post_nav_item {
    position: relative; }
    .post_navigation .post_nav_item a {
      display: block;
      text-indent: -9999px;
      width: 50px;
      height: 50px;
      background: rgba(61, 69, 67, 0.3);
      color: #fff;
      font-weight: bolder;
      transition: all 300ms ease;
      margin-bottom: 1px; }
      .post_navigation .post_nav_item a:hover {
        background: #e32526; }
  .post_navigation .back a:before {
    width: 20px;
    height: 20px;
    content: " ";
    background-image: url(../images/close.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px; }
  .post_navigation .previous a:before {
    width: 20px;
    height: 20px;
    content: " ";
    background-image: url(../images/previous.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px; }
  .post_navigation .next a:before {
    width: 20px;
    height: 20px;
    content: " ";
    background-image: url(../images/next.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px; }

.embed-container {
  margin-bottom: 25px; }

.author_info {
  width: 100%;
  margin-top: 8%;
  margin-bottom: 10%;
  padding-bottom: 5%;
  border-bottom: 1px solid #ededed; }
  .author_info .left_bucket {
    width: 18%;
    float: left;
    margin-right: 2%; }
  .author_info:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0; }
  .author_info .right_bucket {
    width: 80%;
    float: left; }
    .author_info .right_bucket a {
      color: #e32526; }

.page-id-11 header {
  background: url(../images/contact_bg.jpg) no-repeat center center; }

.social_list {
  margin-bottom: 10px; }
  .social_list:after {
    content: "";
    display: table;
    clear: both; }
  .social_list li {
    float: left;
    margin-right: 20px;
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    opacity: 0.75;
    transition: all 200ms ease;
    backface-visibility: hidden; }
    .social_list li.twitter {
      background: url(../images/twitter_gray.svg) no-repeat center center; }
    .social_list li.facebook {
      background: url(../images/facebook_gray.svg) no-repeat center center; }
    .social_list li.instagram {
      background: url(../images/instagram_gray.svg) no-repeat center center; }
    .social_list li.dribbble {
      background: url(../images/dribbble_gray.svg) no-repeat center center; }
    .social_list li.spotify {
      background: url(../images/spotify_gray.svg) no-repeat center center; }
    .social_list li.linkedin {
      background: url(../images/linkedin_gray.svg) no-repeat center center; }
    .social_list li.email {
      background: url(../images/email_gray.svg) no-repeat center center; }
    .social_list li:last-child {
      margin-right: 0; }
    .social_list li:hover {
      opacity: 1; }
    .social_list li a {
      display: block;
      height: 100%;
      width: 100%; }

.contact_social, .bio_social {
  display: inline-block; }

.ninja-forms-required-items {
  display: none; }

@media only screen and (max-width: 1024px) {
  #main_nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    float: none;
    height: auto;
    background-color: #3d4543;
    padding: 15px 0;
    color: #d0d3d4; }
    #main_nav:after {
      content: "";
      display: table;
      clear: both; }
    #main_nav .logo {
      margin-left: 5%;
      float: left;
      background: url(../images/logo_square.svg) no-repeat center center;
      display: block;
      width: 40px;
      height: 40px;
      text-indent: -9999px;
      margin-bottom: 0;
      backface-visibility: hidden; }
      #main_nav .logo a {
        display: block;
        height: 100%;
        width: 100%; }
    #main_nav .navigation {
      width: 70%;
      margin-right: 2%;
      float: right;
      text-align: right; }
      #main_nav .navigation li {
        display: inline-block;
        margin: 0 3%;
        line-height: 40px; }
        #main_nav .navigation li a {
          font-size: 13px;
          line-height: 18px;
          color: #fff;
          text-transform: uppercase;
          opacity: 0.75;
          transition: all 200ms ease;
          font-weight: bolder; }
          #main_nav .navigation li a:hover {
            opacity: 1; }
      #main_nav .navigation .children {
        display: none; }
      #main_nav .navigation .current_page_item {
        position: relative; }
        #main_nav .navigation .current_page_item:before {
          content: '\2022';
          position: absolute;
          left: -10px;
          top: -1px; }
      #main_nav .navigation .current_page_item .children, #main_nav .navigation .current_page_ancestor .children {
        display: none; }

  .main_nav_footer {
    clear: both;
    width: 100%;
    position: relative;
    bottom: auto;
    left: auto;
    padding: 15px 0 0 0;
    z-index: auto; }
    .main_nav_footer .main_nav_social {
      float: left;
      display: block; }
    .main_nav_footer .copyright {
      text-align: right;
      float: right;
      display: block; }

  #main {
    position: relative;
    width: 100%;
    float: none;
    min-height: 100%; }

  .post_navigation {
    position: fixed;
    top: 85px;
    right: 0px;
    z-index: 50; } }
@media only screen and (max-width: 768px) {
  .medium-4, .medium-4-wrap {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 31.57895%; }
    .medium-4:last-child, .medium-4-wrap:last-child {
      margin-right: 0; }

  .medium-5, .medium-5-wrap {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 44.40789%; }
    .medium-5:last-child, .medium-5-wrap:last-child {
      margin-right: 0; }

  .medium-6, .medium-6-wrap {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 48.68421%; }
    .medium-6:last-child, .medium-6-wrap:last-child {
      margin-right: 0; }

  .medium-8, .medium-8-wrap {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 65.78947%; }
    .medium-8:last-child, .medium-8-wrap:last-child {
      margin-right: 0; }

  .medium-12, .medium-12-wrap {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 100%; }
    .medium-12:last-child, .medium-12-wrap:last-child {
      margin-right: 0; }

  .omega-wrap {
    margin-right: 0; }

  .buckets_wrap {
    padding-top: 0; }
    .buckets_wrap .bucket {
      margin-bottom: 25px; }

  .eden_fellas {
    background: #fbfbfb; }

  .cs_bucket .medium-8 {
    width: 80%;
    position: relative;
    z-index: 30; }

  header {
    background-attachment: scroll !important; }

  .why .offset-1 {
    margin-left: 0 !important;
    margin-top: 3%; }

  .standards ol:after {
    content: "";
    display: table;
    clear: both; }
  .standards ol li {
    counter-increment: step;
    float: left;
    width: 100%;
    padding-right: 0;
    padding-left: 50px;
    position: relative;
    margin-bottom: 3%; }
    .standards ol li:before {
      content: counter(step,decimal) ".";
      border: 1px solid #ffb81d;
      border-radius: 100%;
      display: block;
      width: 35px;
      height: 35px;
      line-height: 35px;
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      text-align: center; }
    .standards ol li:nth-child(even) {
      padding-right: 0; }
    .standards ol li:nth-child(odd) {
      clear: both; }
    .standards ol li h3 {
      font-size: 26px;
      line-height: 36px;
      color: #fff; }

  .single-case_study .row {
    padding-top: 100px; }
    .single-case_study .row div {
      display: inline-block !important;
      vertical-align: middle;
      float: none; }
  .single-case_study .row.padding {
    padding: 100px 5% 0 5%; }
  .single-case_study .cs_logo {
    padding-top: 50px;
    text-align: center; }
    .single-case_study .cs_logo img {
      max-height: 50%;
      max-width: 50%;
      height: auto;
      width: auto;
      text-align: center; }
  .single-case_study .project {
    padding-right: 0%;
    margin-bottom: 3%; }
  .single-case_study .desktop_image, .single-case_study .responsive_image {
    text-align: center; }
    .single-case_study .desktop_image img, .single-case_study .responsive_image img {
      max-width: 85%;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      display: block; }
  .single-case_study .cs_link {
    padding-top: 0;
    text-align: center; }
    .single-case_study .cs_link a {
      font-size: 20px;
      line-height: 30px; }
  .single-case_study .sec_image {
    height: 350px;
    background-size: cover; }
    .single-case_study .sec_image.medium-12 {
      margin-right: 0;
      width: 100%; }
    .single-case_study .sec_image:first-child {
      margin-right: 0; }
  .single-case_study .sec_image_1 {
    margin-right: 0; }
  .single-case_study .goal {
    padding: 100px 5% 0 5%; }
  .single-case_study .testimonial, .single-case_study .outcome {
    vertical-align: top !important; }
  .single-case_study .testimonial {
    padding-top: 85px; }
    .single-case_study .testimonial .h4 {
      color: #e32526; }
    .single-case_study .testimonial .h5 {
      font-style: italic; }

  .testimonial {
    text-align: center; } }
@media only screen and (max-width: 480px) {
  .small-4, .small-4-wrap {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 31.57895%; }
    .small-4:last-child, .small-4-wrap:last-child {
      margin-right: 0; }

  .small-5, .small-5-wrap {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 44.40789%; }
    .small-5:last-child, .small-5-wrap:last-child {
      margin-right: 0; }

  .small-6, .small-6-wrap {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 48.68421%; }
    .small-6:last-child, .small-6-wrap:last-child {
      margin-right: 0; }

  .small-8, .small-8-wrap {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 65.78947%; }
    .small-8:last-child, .small-8-wrap:last-child {
      margin-right: 0; }

  .small-12, .small-12-wrap {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 100%; }
    .small-12:last-child, .small-12-wrap:last-child {
      margin-right: 0; }

  .omega-wrap {
    margin-right: 0; }

  .header_toggle {
    background: url(../images/menu.svg);
    width: 25px;
    height: 15px;
    display: block !important;
    position: absolute;
    right: 5%;
    top: 28px;
    font-size: 20px;
    color: #fff;
    z-index: 50;
    margin-bottom: 0;
    text-indent: -9999px; }
    .header_toggle:hover {
      cursor: pointer; }

  #main_nav {
    position: relative;
    z-index: 9999; }
    #main_nav .navigation {
      padding-top: 15px;
      position: relative;
      z-index: 0;
      width: 100%;
      margin-right: 0%;
      float: none;
      text-align: left;
      clear: both;
      display: none;
      height: 0;
      opacity: 0;
      float: none;
      transition: opacity 300ms ease; }
      #main_nav .navigation li {
        display: block;
        width: 100%;
        margin: 0;
        height: 50px;
        padding: 0 5%;
        line-height: 40px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-bottom: 1px solid #444b49;
        background: transparent; }
        #main_nav .navigation li a {
          display: block;
          width: 100%;
          height: 100%;
          font-size: 13px;
          line-height: 50px;
          color: #fff;
          text-transform: uppercase;
          opacity: 0.75;
          transition: all 200ms ease;
          font-weight: bolder; }
          #main_nav .navigation li a:hover {
            opacity: 1; }
        #main_nav .navigation li:last-child {
          border-bottom: 0; }
        #main_nav .navigation li:hover {
          background-color: #444b49; }
      #main_nav .navigation .children {
        display: none; }
      #main_nav .navigation .current_page_item {
        position: relative; }
        #main_nav .navigation .current_page_item:before {
          content: '\2022';
          position: absolute;
          left: -10px;
          top: -1px; }
      #main_nav .navigation .current_page_item .children, #main_nav .navigation .current_page_ancestor .children {
        display: none; }
      #main_nav .navigation.toggled {
        height: auto;
        display: block;
        opacity: 1; }

  .post_navigation .post_nav_item {
    position: relative; }
    .post_navigation .post_nav_item a {
      width: 35px;
      height: 35px; }
  .post_navigation .back a:before {
    width: 15px;
    height: 15px;
    content: " ";
    background-image: url(../images/close.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px; }
  .post_navigation .previous a:before {
    width: 15px;
    height: 15px;
    content: " ";
    background-image: url(../images/previous.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px; }
  .post_navigation .next a:before {
    width: 15px;
    height: 15px;
    content: " ";
    background-image: url(../images/next.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px; }

  .home header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    z-index: 25; }
    .home header .container h1 {
      font-size: 25px;
      line-height: 35px;
      color: #fff;
      margin-bottom: 60px; }
      .home header .container h1 span {
        color: #fff;
        font-style: normal;
        font-weight: 300; }
    .home header .container h2 {
      font-size: 20px;
      line-height: 30px;
      color: #ffb81d;
      font-style: italic; }

  .dribbble_wrap li {
    width: 100%;
    margin-right: 0; }

  .bios_wrap .bio_bucket {
    width: 100%;
    padding: 0 2.5%;
    margin-bottom: 50px;
    display: inline-block;
    *display: inline;
    /*IE7*/
    *zoom: 1;
    /*IE7*/ }
    .bios_wrap .bio_bucket:last-child {
      margin-bottom: 0; }

  .cs_bucket .small-12 {
    width: 100%;
    position: relative;
    z-index: 30; }

  .contact_form .large-4, .contact_form .large-4-wrap {
    float: none;
    width: 100%;
    margin-right: 0; }

  .journal_wrap.stacked, article.post, .bio_content {
    width: 100%; }

  .intro {
    margin-left: auto;
    margin-right: auto;
    width: 90%; }

  .journal_wrap.stacked .journal_bucket {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ededed; }
    .journal_wrap.stacked .journal_bucket .left_bucket {
      width: 100%;
      float: none;
      margin-right: 0%;
      margin-bottom: 10px;
      text-align: center; }
    .journal_wrap.stacked .journal_bucket:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0; }
    .journal_wrap.stacked .journal_bucket .right_bucket {
      width: 100%;
      float: none; }
      .journal_wrap.stacked .journal_bucket .right_bucket .entry_title, .journal_wrap.stacked .journal_bucket .right_bucket .entry_meta {
        text-align: center; }
      .journal_wrap.stacked .journal_bucket .right_bucket .entry_content {
        margin-top: 30px; }

  footer {
    margin-bottom: -1px;
    background: #3d4543;
    padding: 30px 0;
    color: #d0d3d4;
    text-align: center; }
    footer .footer_contact {
      float: none;
      width: 100%;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 15px; }
      footer .footer_contact span {
        color: #ffb81d;
        margin: 0 5px; }
      footer .footer_contact a {
        color: inherit; }
    footer .button {
      float: none;
      width: 100%;
      margin-bottom: 20px; }
      footer .button a {
        width: 100%;
        display: inline-block;
        line-height: 24px; }
    footer p {
      margin-bottom: 0;
      line-height: 40px; } }
