// Mixins
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin horizontal-align {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin box-sizing {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

* {
	@include box-sizing;
}

p.button {
	line-height: 40px;
}

@mixin button {
	padding: 10px 35px;
	color: inherit;
}

@mixin button-red-solid {
	@include button;
	color: $white;
	background: $red;
	transition: all 300ms ease;
	border: 1px solid $red;
	&:hover {
		background: #d61f15;
		border: 1px solid #d61f15;
	}
}

@mixin button-red-stroked {
	@include button;
	border: 1px solid $red;
	background: none;
	transition: all 300ms ease;
	&:hover {
		background: #d61f15;
		border: 1px solid #d61f15;
		color: $white;
	}
}

@mixin button-gold-stroked {
	@include button;
	border: 1px solid $gold;
	background: none;
	transition: all 300ms ease;
	&:hover {
		background: $gold;
		border: 1px solid $gold;
		color: #68501b;
	}
}

.button-red-solid {
	@include button-red-solid;
}

.button-red-stroked {
	@include button-red-stroked;
}

.button-gold-stroked {
	@include button-gold-stroked;
}



// Grid
.row { @include clearfix; }

.large-4, .large-4-wrap { @include span-columns(4); }
.large-5, .large-5-wrap { @include span-columns(5.5); }
.large-6, .large-6-wrap { @include span-columns(6); }
.large-8, .large-8-wrap { @include span-columns(8); }
.large-12, .large-12-wrap { @include span-columns(12); }
.omega-wrap { margin-right: 0; }

.offset-1 { @include shift(1); }


// Global Elements
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	font-family: $museoslab;
	font-weight: 100;
}

h1, .h1 {
	font-size: 48px;
	line-height: 58px;
}

h2, .h2 {
	font-size: 35px;
	line-height: 45px;
}

h3, .h3 {
	font-weight: 300;
	font-size: 30px;
	line-height: 40px;
}

h4, .h4 {
	font-size: 20px;
	line-height: 30px;
}

hr {
    border: 0;
    height: 1px;
	max-width: 100px;
	margin: 20px auto 25px auto;
	background: $red;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

a {
	text-decoration: none;
}

p {
	margin-bottom: 15px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


// Base Layout
html {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	font: 14px $proxima;
	color: $darkgray;
	background-color: $white;
	font-weight: 300;
	line-height: 26px;
	height: 101%;
}

#page_container {
	position: relative;
	right: 0;
	top: 0;	
	transition: all 300ms;
}

#main_nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 18%;
	float: left;
	height: 100%;
	background-color: $darkgray;
	padding: 10% 4% 0;
	color: $lightgray;
	.logo {
		background: url(../images/logo_square.svg) no-repeat center center;
		display: block;
		width: 50px;
		height: 50px;
		text-indent: -9999px;
		margin-bottom: 15px;
		backface-visibility: hidden;
		a {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	.header_toggle {
		display: none;
	}
	a {
		font-size: 13px;
		line-height: 18px;
		color: #fff;
		text-transform: uppercase;
		opacity: 0.75;
		transition: all 200ms ease;
		font-weight: 500;
		&:hover {
			opacity: 1;
		}
	}
	.children {
		display: none;
		background-color: transparent;
		position: relative;
		height: auto;
		text-align: left;
		margin-left: 1.5em;
		margin-bottom: 1em;
		top: 0;
		padding: 0;
		a {
			font-weight: 100;
			font-style: italic;
		}
	}
	.current_page_item, .current_page_parent {
		position: relative;
		&:before {
			content: '\2022';
			position: absolute;
			left: -10px;
			top: -1px;
		}
	}
	.current_page_item, .current_page_ancestor {
		.children {
			display: block;
		}
	}
}

.main_nav_social {
	@include clearfix;
	margin-bottom: 10px;
	li {
		float: left;
		margin-right: 5px;
		display: block;
		width: 25px;
		height: 25px;
		border: 1px solid $white;
		text-indent: -9999px;
		background-size: 80%;
		opacity: 0.75;
		transition: all 200ms ease;
		backface-visibility: hidden;
		&.twitter {
			background: url(../images/twitter.svg) no-repeat center center;	
			background-size: 60%;
		}
		&.facebook {
			background: url(../images/facebook.svg) no-repeat center center;
			background-size: 60%;	
		}
		&.instagram {
			background: url(../images/instagram.svg) no-repeat center center;	
			background-size: 60%;
		}
		&.dribbble {
			background: url(../images/dribbble.svg) no-repeat center center;	
			background-size: 60%;
		}
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			opacity: 1;
		}
		a {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}

#main {
	position: relative;
	width: 82%;
	float: right;
	min-height: 100%;
}

.container {
	@include outer-container;
	width: 90%;
}

header {
	width: 100%;
	height: 100vh;
	background-size: cover;
	.container {
		@include vertical-align;
		text-align: center;
		z-index: 25;
		h1 { 
			color: $white;
			margin-bottom: 60px;
			span {
				color: $gold;
				font-style: italic;
			} 
		}
	}
	&.twi_header {
		img {
			@include vertical-align;
			display: block;
			margin: 0 auto;
			max-height: 75%;
			max-width: 75%;
			width: auto;
			height: auto;
		}
	}
}

.section {
	padding: 100px 0;
}

.small_section {
	padding: 40px 0;
}

.intro {
	padding-bottom: 70px;
	margin: auto;
	max-width: 830px;
	text-align: center;
	h2 {
		margin-bottom: 10px;
	}
	p {
		margin: auto;
		max-width: 450px;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: $darkgray;
	opacity: 0.70;
}

footer {
	margin-bottom: -1px;
	background: $darkgray;
	padding: 30px 0;
	color: $lightgray;
	.footer_contact {
		float: left;
		span {
			color: $gold;
			margin: 0 10px;
		}
		a {
			color: inherit;
		}
	}
	.button {
		float: right;
	}
	p {
		margin-bottom: 0;
		line-height: 40px;
	}
}

.main_nav_footer {
	width: 18%;
	position: fixed;
	bottom: 20px;
	left: 0;
	padding-bottom: 0.5em;
	padding: 0 4% 0;
	z-index: 9999;
	p {
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 0;
	}
}

// Form Elements 
input, textarea {
	padding: 10px 15px;
	border: 1px solid $lightgray;
	background: none;
	transition: all 300ms ease;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	-webkit-appearance:	none;
	-moz-appearance:    none;
	appearance:         none;
	border-radius: 0;
}

textarea {
	resize: vertical;
}