@media #{$desktop} {

	#main_nav {
		@include clearfix;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		float: none;
		height: auto;
		background-color: $darkgray;
		padding: 15px 0;
		color: $lightgray;
		.logo {
			margin-left: 5%;
			float: left;
			background: url(../images/logo_square.svg) no-repeat center center;
			display: block;
			width: 40px;
			height: 40px;
			text-indent: -9999px;
			margin-bottom: 0;
			backface-visibility: hidden;
			a {
				display: block;
				height: 100%;
				width: 100%;
			}
		}
		.navigation {
			width: 70%;
			margin-right: 2%;
			float: right;
			text-align: right;
			li {
				display: inline-block;
				margin: 0 3%;
				line-height: 40px;
				a {
					font-size: 13px;
					line-height: 18px;
					color: #fff;
					text-transform: uppercase;
					opacity: 0.75;
					transition: all 200ms ease;
					font-weight: bolder;
					&:hover {
						opacity: 1;
					}
				}
			}
			.children {
				display: none;
			}
			.current_page_item {
				position: relative;
				&:before {
					content: '\2022';
					position: absolute;
					left: -10px;
					top: -1px;
				}
			}
			.current_page_item, .current_page_ancestor {
				.children {
					display: none;
				}
			}
		}
	}
		
	.main_nav_footer {
		clear: both;
		width: 100%;
		position: relative;
		bottom: auto;
		left: auto;
		padding: 15px 0 0 0;
		z-index: auto;
		.main_nav_social {
			float: left;
			display: block;
		}
		.copyright {
			text-align: right;
			float: right;
			display: block;
		}
	}
	
	#main {
		position: relative;
		width: 100%;
		float: none;
		min-height: 100%;
	}
	.post_navigation {
		position: fixed;
		top: 85px;
		right: 0px;
		z-index: 50;
	}

}