@media #{$mobile} {
	
	.small-4, .small-4-wrap { @include span-columns(4); }
	.small-5, .small-5-wrap { @include span-columns(5.5); }
	.small-6, .small-6-wrap { @include span-columns(6); }
	.small-8, .small-8-wrap { @include span-columns(8); }
	.small-12, .small-12-wrap { @include span-columns(12); }
	.omega-wrap { margin-right: 0; }
	
	.header_toggle {
		background: url(../images/menu.svg);
		width: 25px;
		height: 15px; 
		display: block !important;
		position: absolute;
		right: 5%;
		top: 28px;
		font-size: 20px;
		color: $white;
		z-index: 50;
		margin-bottom: 0;
		text-indent: -9999px;
		&:hover {
			cursor: pointer;
		}
	}
	#main_nav {
		position: relative;
		z-index: 9999;
		.navigation {
			padding-top: 15px;
			position: relative;
			z-index: 0;
			width: 100%;
			margin-right: 0%;
			float: none;
			text-align: left;
			clear:both;
			display: none;
			height: 0;
			opacity: 0;
			float: none;
			transition: opacity 300ms ease;
			li {
				display: block;
				width: 100%;
				margin: 0;
				height: 50px;
				padding: 0 5%;
				line-height: 40px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				border-bottom: 1px solid #444b49;
				background: transparent;
				a {
					display: block;
					width: 100%;
					height: 100%;
					font-size: 13px;
					line-height: 50px;
					color: #fff;
					text-transform: uppercase;
					opacity: 0.75;
					transition: all 200ms ease;
					font-weight: bolder;
					&:hover {
						opacity: 1;
					}
				}
				&:last-child {
					border-bottom: 0;
				}
				&:hover {
					background-color: #444b49;
				}
			}
			.children {
				display: none;
			}
			.current_page_item {
				position: relative;
				&:before {
					content: '\2022';
					position: absolute;
					left: -10px;
					top: -1px;
				}
			}
			.current_page_item, .current_page_ancestor {
				.children {
					display: none;
				}
			}
		
			&.toggled {
				height: auto;
				display: block;
				opacity: 1;
			}
		}
	}
	
	.post_navigation {
		.post_nav_item {
			position: relative;
			a {
				width: 35px;
				height: 35px;
			}	
		}
		.back {
			a:before {
			    width: 15px;
			    height: 15px;
			    content: " ";
			    background-image: url(../images/close.svg);
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    margin-left: -7px;
			    margin-top: -7px;
			}
		}
		.previous {
			a:before {
			    width: 15px;
			    height: 15px;
			    content: " ";
			    background-image: url(../images/previous.svg);
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    margin-left: -7px;
			    margin-top: -7px;
			}
		}
		.next {
			a:before {
			    width: 15px;
			    height: 15px;
			    content: " ";
			    background-image: url(../images/next.svg);
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    margin-left: -7px;
			    margin-top: -7px;
			}
		}
	}

	// Home
	.home header {
		.container {
			@include vertical-align;
			text-align: center;
			z-index: 25;
			h1 {
				font-size: 25px;
				line-height: 35px;
				color: $white;
				margin-bottom: 60px;
				span {
					color: $white;
					font-style: normal;
					font-weight: 300;
				} 
			}
			h2 { 
				font-size: 20px;
				line-height: 30px;
				color: $gold;
				font-style: italic;
			}
		}
	}
		
	.dribbble_wrap {
		li {
			width: 100%;
			margin-right: 0;
		}
	}
	
	// About 
	.bios_wrap {
		.bio_bucket {
			width: 100%;
			padding: 0 2.5%;
			margin-bottom: 50px;
	        display:inline-block;
	        *display:inline; /*IE7*/
	        *zoom:1; /*IE7*/
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	// Case Studies
	.cs_bucket {
		.small-12 {
			width: 100%;
			position: relative;
			z-index: 30;
		}
	}
	
	
	// Contact 
	.contact_form {
		.large-4, .large-4-wrap {
			float: none;
			width: 100%;
			margin-right: 0;
		}
	}
	
	// Bio, Journal 
	.journal_wrap.stacked, article.post, .bio_content {
		width: 100%;
	}
	
	.intro {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	
	.journal_wrap.stacked {
		.journal_bucket {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 100px;
			padding-bottom: 50px;
			border-bottom: 1px solid #ededed;
			.left_bucket {
				width: 100%;
				float: none;
				margin-right: 0%;
				margin-bottom: 10px;
				text-align: center;
			}
			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
				margin-bottom: 0;
			}
			.right_bucket {
				width: 100%;
				float: none;
				.entry_title, .entry_meta {
					text-align: center;
				}
				.entry_content {
					margin-top: 30px;
				}
			}
		}
	}
	
	// Footer 
	footer {
		margin-bottom: -1px;
		background: $darkgray;
		padding: 30px 0;
		color: $lightgray;
		text-align: center;
		.footer_contact {
			float: none;
			width: 100%;
			font-size: 14px;
			line-height: 21px;
			margin-bottom: 15px;
			span {
				color: $gold;
				margin: 0 5px;
			}
			a {
				color: inherit;
			}
		}
		.button {
			float: none;
			width: 100%;
			margin-bottom: 20px;
			a {
				width: 100%;
				display: inline-block;
				line-height: 24px;
			}
		}
		p {
			margin-bottom: 0;
			line-height: 40px;
		}
	}
	
}