@media #{$tablet} {
	
	.medium-4, .medium-4-wrap { @include span-columns(4); }
	.medium-5, .medium-5-wrap { @include span-columns(5.5); }
	.medium-6, .medium-6-wrap { @include span-columns(6); }
	.medium-8, .medium-8-wrap { @include span-columns(8); }
	.medium-12, .medium-12-wrap { @include span-columns(12); }
	.omega-wrap { margin-right: 0; }
	
	.buckets_wrap {
		padding-top: 0;
		.bucket {
			margin-bottom: 25px;
		}
	}
	
	.eden_fellas {
		background: #fbfbfb;
	}
	.cs_bucket {
		.medium-8 {
			width: 80%;
			position: relative;
			z-index: 30;
		}
	}
	
	header {
		background-attachment: scroll !important;
	}
	
	// About
	.why {
		.offset-1 {
			margin-left: 0 !important;
			margin-top: 3%;
		}
	}
	.standards {
		ol {
			@include clearfix;
			li {
				counter-increment: step;
				float: left;
				width: 100%;
				padding-right: 0;
				padding-left: 50px;
				position: relative;
				margin-bottom: 3%;
				&:before {
					content: counter(step, decimal) ".";
					border: 1px solid $gold;
					border-radius: 100%;
					display: block;
					width: 35px;
					height: 35px;
					line-height: 35px;
					position: absolute;
					top: 0;
					left: 0;
					color: white;
					text-align: center;
				}
				&:nth-child(even) {
					padding-right: 0;
				}
				&:nth-child(odd) {
					clear: both;
				}
				h3 {
					font-size: 26px;
					line-height: 36px;
					color: $white;
				}
			}
		}
	}
	
	// Case Studies
	.single-case_study {
		.row {
			padding-top: 100px;
			div {
				display: inline-block !important;
				vertical-align: middle;
				float: none;
			}
		}
		.row.padding {
			padding: 100px 5% 0 5%;
		}
		.cs_logo {
			padding-top: 50px;
			text-align: center;
			img {
				max-height: 50%;
				max-width: 50%;
				height: auto;
				width: auto;
				text-align: center;
			}
		}
		.project {
			padding-right: 0%;
			margin-bottom: 3%;
		}
		.desktop_image, .responsive_image {
			text-align: center;
			img {
				max-width: 85%;
				margin-left: auto;
				margin-right: auto;
				height: auto;
				display: block;
			}
		}
		.cs_link {
			padding-top: 0;
			text-align: center;
			a {
				font-size: 20px;
				line-height: 30px;
			}
		}
		.sec_image {
			height: 350px;
			background-size: cover;
			&.medium-12 {
				margin-right: 0;
				width: 100%;
			}
			&:first-child {
				margin-right: 0;
			}
		}
		.sec_image_1 {
			margin-right: 0;
		}
		.goal {
			padding: 100px 5% 0 5%;
		}
		.testimonial, .outcome {
			vertical-align: top !important;
		}
		.testimonial {
			padding-top: 85px;
			.h4 {
				color: $red;
			}
			.h5 {
				font-style: italic;
			}
		}
	}
	.testimonial {
		text-align: center;
	}
}