@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Variables
$museoslab: "museo-slab",serif;
$facit: "ff-tisa-sans-web-pro",sans-serif;
$proxima: "proxima-nova",sans-serif;

$red: #e32526;
$darkgray: #3d4543;
$lightgray: #d0d3d4;
$white: #fff;
$gold: #ffb81d;

// Change the grid settings
$column: 90px;
$gutter: 40px;
$grid-columns: 12;
$max-width: em(1200);

$mobile: "only screen and (max-width : 480px)";
$tablet: "only screen and (max-width : 768px)";
$desktop: "only screen and (max-width : 1024px)";
