/* style.scss */
@import 'reset';
@import 'variables';
@import 'bourbon', 'neat';

@import 'base';

// Home Page Styles
.home header {
	background: url(../images/home_header.jpg) no-repeat center center;
	.logo {
		background: url(../images/logo.svg) no-repeat center center;
		display: block;
		margin: 0 auto 60px auto;
		width: 280px;
		height: 45px;
		text-indent: -9999px;
	}
	.container {
		@include vertical-align;
		text-align: center;
		z-index: 25;
		h1 { 
			color: $white;
			margin-bottom: 60px;
			span {
				color: $white;
				font-style: normal;
				font-weight: 300;
			} 
		}
		h2 { color: $gold; font-style: italic; }
	}
}

.buckets_wrap {
	padding-top: 0;
	h3 {
		font-weight: 300;
		position: relative;
		padding-left: 60px;
		margin-bottom: 15px;
		&:before {
			width: 48px;
			height: 35px;
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -17px;
			margin-right: 15px;
			padding-right: 15px;
			border-right: 1px solid #e32526;
			padding-top: 2px;
		}
		&.branding:before {
			content: url(../images/branding.svg);
		}
		&.ui:before {
			content: url(../images/ui.svg);
		}
		&.dev:before {
			content: url(../images/dev.svg);
		}
	}
	.button {
		margin-top: 30px;
		text-align: center;
	}
}

.eden_fellas {
	background: #fbfbfb url(../images/eden_fellas_bg.jpg) no-repeat right top;
	h3 {
		color: $darkgray;
		display: inline-block;
		padding-bottom: 5px;
		border-bottom: 1px solid $red;
		margin-bottom: 20px;
	}
}

.cs_bucket {
	padding: 120px 0;
	position: relative;
	color: $white;
	background-size: cover;
	background-position: center top;
	a {
		color: inherit;
		.overlay {
			transition: all 200ms ease;
		}
	}
	.large-6 {
		width: 50%;
		position: relative;
		z-index: 30;
	}
	hr {
		margin-left: 0;
		background: $gold;
	}
	h3 {
		color: $white;
	}
	h4 {
		font-style: italic;
		font-weight: 600;
		margin-bottom: 20px;
	}
	&:hover {
		.overlay {
			opacity: 0.85;
		}
	}
}

.dribbble {
	.intro {
		img {
			display: block;
			width: 35px;
			height: 35px;
			margin: 0 auto 15px auto;
		}
	}
}

.dribbble_wrap {
	li {
		@include span-columns(4);
		margin-bottom: 2.63158%;
		img {
			border: 1px solid #ebebeb;
			max-width: 100%;
			height: auto;
			display: block;
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}

.tweets_wrap {
	text-align: center;
	margin-top: 100px;
	padding: 40px 0;
	background: #f5f5f5;
	.container {
		max-width: 850px;
		margin: 0 auto;
	}
	img {
		display: block;
		width: 35px;
		height: 35px;
		margin: 0 auto 15px auto;
	}
	#tweets {
		li {
			@extend h4;
		}
		a {
			color: $red;
		}
		.date {
			font-size: 80%;
			font-style: italic;
		}
	}
}


// About Styles
.page-id-5 header, .blog header {
	background: url(../images/about_header.jpg) no-repeat center center;
	background-size: cover;
}

.about_intro {
	margin: 0 auto;
	padding-bottom: 0;
	p {
		max-width: 650px;
	}
	.quote {
		h3 {
			color: $darkgray;
		}
		hr {
			margin-top: 20px;
			background: $red;
		}
		margin: 100px auto 0 auto;
	}
}

.standards {
	background: url(../images/standards_bg.jpg) no-repeat center top;
	background-size: cover;
	color: $white;
	ol {
		@include clearfix;
		li {
			counter-increment: step;
			float: left;
			width: 50%;
			padding-right: 5%;
			padding-left: 50px;
			position: relative;
			margin-bottom: 3%;
			&:before {
				content: counter(step, decimal) ".";
				border: 1px solid $gold;
				border-radius: 100%;
				display: block;
				width: 35px;
				height: 35px;
				line-height: 35px;
				position: absolute;
				top: 0;
				left: 0;
				color: white;
				text-align: center;
			}
			&:nth-child(even) {
				padding-right: 0;
			}
			&:nth-child(odd) {
				clear: both;
			}
			h3 {
				font-size: 26px;
				line-height: 36px;
				color: $white;
			}
		}
	}
}

.bios_wrap {
	text-align: center;
	.bio_buckets {
		margin-top: 50px;
		@include clearfix;
	}
	.bio_bucket {
		width: 40%;
		padding: 0 2.5%;
        display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
		.bio_bucket_image {
			margin: 0 auto;
			width: 90%;
			height:0;
			padding-bottom: 90%;
			-moz-border-radius: 90%; 
			-webkit-border-radius: 90%; 
			border-radius: 90%;
			margin-bottom: 30px;
		}
		h3 {
			color: $darkgray;
		}
		h5 {
			font-style: italic;
			color: $red;
			margin-bottom: 10px;
		}
	}
	.seth .bio_bucket_image { background: url(../images/seth_headshot.jpg) center center; background-size: contain; }
	.zach .bio_bucket_image { background: url(../images/zach_headshot.jpg) center center; background-size: contain; }
}

.about_footer {
	background: url(../images/about_footer_bg.jpg) no-repeat center center;
	height: 80vh;
	.container {
		@include vertical-align;
		text-align: center;
		z-index: 25;
		h1 { 
			color: $white;
			margin-bottom: 0;
			span {
				color: $gold;
				font-style: italic;
			} 
		}
	}
}


// Bio Styles 
.page-template-page-bio-php {
	header {
		background-position: right center;
		h1 {
			margin-bottom: 0;
		}
		h4 {
			color: $gold;
			margin-bottom: 0;
		}
	}
	.intro {			
		max-width: 800px;
		width: 80%;
	}
	.quote {
		hr {
			background: $red;
		}
	}
	.journal_wrap {
		h3 {
			margin-bottom: 30px;
		}
		li {
			h3 {
				margin-bottom: 0;
			}
		}
	}
}

.bio_content {
	padding-bottom: 80px;
	border-bottom: 1px solid #d0d3d4;
}

// Case Study Styles
.page-id-7 {
	header {
		background: url(../images/cs_bg.jpg) no-repeat center center;
	}
}

.single-case_study {
	header {
		position: relative;
		height: 100vh;
		h1 {
			margin-bottom: 0;
		}
		h4 {
			color: $gold;
			margin-bottom: 0;
		}
	}
	hr {
		margin-left: 0;
	}
	.row {
		padding-top: 100px;
		div {
			display: inline-block !important;
			vertical-align: middle;
			float: none;
		}
	}
	.row.padding {
		padding: 100px 5% 0 5%;
	}
	.cs_logo img {
		max-height: 100%;
		max-width: 100%;
		height: auto;
		width: auto;
		text-align: center;
	}
	.project {
		padding-right: 5%;
	}
	.desktop_image, .responsive_image {
		text-align: center;
		img {
			max-width: 70%;
			margin-left: auto;
			margin-right: auto;
			height: auto;
			display: block;
		}
	}
	.cs_link {
		padding-top: 0;
		text-align: center;
		a {
			font-size: 20px;
			line-height: 30px;
		}
	}
	.sec_image {
		height: 350px;
		background-size: cover;
		&.large-6 {
			margin-right: 0;
			width: 50%;
		}
		&:first-child {
			margin-right: 0;
		}
	}
	.sec_image_1 {
		margin-right: 0;
	}
	.goal {
		padding: 5%;
	}
	.testimonial, .outcome {
		vertical-align: top !important;
	}
	.testimonial {
		padding-top: 85px;
		.h4 {
			color: $red;
		}
		.h5 {
			font-style: italic;
		}
	}
}

.cta_cs {
	margin-top: 150px;
	p {
		margin-bottom: 0;
	}
	a {
		text-align: center;
		font-weight: bolder;
		display: block;
		padding: 35px;
		font-size: 20px;
		line-height: 30px;
		color: $white;
		background: $red;
		transition: all 300ms ease;
		border: 1px solid $red;
		&:hover {
			background: #d61f15;
			border: 1px solid #d61f15;
		}
	}
}




// Journal Styles
.blog, .archive, .category {
	header {
		background: url(../images/journal_bg.jpg) no-repeat center center;
	}
}

.archive, .category {
	header {
		h1 {
			margin-bottom: 0;
		}
		h3 {
			color: $gold;
			margin-bottom: 0;
		}
	}
}

.journal_wrap.stacked {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
	.journal_bucket {
		width: 100%;
		margin-bottom: 8%;
		padding-bottom: 5%;
		border-bottom: 1px solid #ededed;
		.left_bucket {
			width: 18%;
			float: left;
			margin-right: 2%;
		}
		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		.right_bucket {
			width: 80%;
			float: left;
		}
		.entry_content {
			
		}
	}
}
.journal_bucket {
	.button {
		margin-top: 20px;
	}
}

.entry_title {
	font-size: 25px;
	line-height: 35px;
	color: $darkgray;
	a {
		color: inherit;
	}
}

.entry_meta {
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 10px;
	color: #a3a3a3;
	font-style: italic;
	a {
		color: inherit;
	}
}

.author_image {
	img {
		width: 96px;
		height: 96px;
		border-radius: 100%;
	    -moz-border-radius: 100%;
	    -webkit-border-radius: 100%;
	}
}

// Single Styles 
.single-post {
	header {
		position: relative;
		height: 55vh;
		background-size: cover;
		&.twi_header {
			img {
				@include vertical-align;
				display: block;
				margin: 0 auto;
				max-height: 75%;
				max-width: 75%;
				width: auto;
				height: auto;
			}
		}
	}
	.intro {			
		max-width: 800px;
		width: 80%;
	}
	.entry_title {
		color: $darkgray;
		font-size: 30px;
		line-height: 40px;
	}
	.journal_wrap {
		margin-top: 80px;
		h3 {
			margin-bottom: 30px;
		}
		.entry_title {
			margin-bottom: 0;
		}
	}
}

.entry_header {
	text-align: center;
	.author_image {
		margin-bottom: 10px;
	}
	.entry_title {
		margin-bottom: 10px;
	}
	hr {
		background-color: $red;
		margin: 20px auto 30px auto;
	}
}

article.post, .bio_content {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
	.entry_content {
		margin-top: 50px;
		padding-bottom: 50px;
		border-bottom: 1px solid $lightgray;
		img {
			display: block;
			margin: 35px auto;
			max-width: 100%;
			height: auto;
		}
		a {
			color: $red;
			font-weight: bolder;
			font-style: italic;
		}
		.addthis_toolbox {
			margin-top: 30px;
		}
	}
}


.post_navigation {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 50;
	.post_nav_item {
		position: relative;
		a {
			display: block;
			text-indent: -9999px;
			width: 50px;
			height: 50px;
			background: rgba(61, 69, 67, 0.3);
			color: $white;
			font-weight: bolder;
			transition: all 300ms ease;
			margin-bottom: 1px;
			&:hover {
				background: rgba(227, 37, 38, 1);
			}
		}	
	}
	.back {
		a:before {
		    width: 20px;
		    height: 20px;
		    content: " ";
		    background-image: url(../images/close.svg);
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    margin-left: -10px;
		    margin-top: -10px;
		}
	}
	.previous {
		a:before {
		    width: 20px;
		    height: 20px;
		    content: " ";
		    background-image: url(../images/previous.svg);
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    margin-left: -10px;
		    margin-top: -10px;
		}
	}
	.next {
		a:before {
		    width: 20px;
		    height: 20px;
		    content: " ";
		    background-image: url(../images/next.svg);
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    margin-left: -10px;
		    margin-top: -10px;
		}
	}
}

.embed-container {
	margin-bottom: 25px;
}

.author_info {
	width: 100%;
	margin-top: 8%;
	margin-bottom: 10%;
	padding-bottom: 5%;
	border-bottom: 1px solid #ededed;
	.left_bucket {
		width: 18%;
		float: left;
		margin-right: 2%;
	}
	&:last-child {
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.right_bucket {
		width: 80%;
		float: left;
		a {
			color: $red;
		}
	}
}


// Contact Styles 
.page-id-11 {
	header {
		background: url(../images/contact_bg.jpg) no-repeat center center;	
	}
}
.social_list {
	@include clearfix;
	margin-bottom: 10px;
	li {
		float: left;
		margin-right: 20px;
		display: block;
		width: 20px;
		height: 20px;
		text-indent: -9999px;
		opacity: 0.75;
		transition: all 200ms ease;
		backface-visibility: hidden;
		&.twitter {
			background: url(../images/twitter_gray.svg) no-repeat center center;
		}
		&.facebook {
			background: url(../images/facebook_gray.svg) no-repeat center center;
		}
		&.instagram {
			background: url(../images/instagram_gray.svg) no-repeat center center;
		}
		&.dribbble {
			background: url(../images/dribbble_gray.svg) no-repeat center center;
		}
		&.spotify {
			background: url(../images/spotify_gray.svg) no-repeat center center;
		}
		&.linkedin {
			background: url(../images/linkedin_gray.svg) no-repeat center center;
		}
		&.email {
			background: url(../images/email_gray.svg) no-repeat center center;
		}
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			opacity: 1;
		}
		a {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}

.contact_social, .bio_social {
	display: inline-block;
}

.ninja-forms-required-items {
	display: none;
}

// Media Queries
@import 'desktop';
@import 'tablet';
@import 'mobile';